Django==4.2.1
djangorestframework==3.14.0
django-cleanup
django-cors-headers
django-filter
opencv-python
opencv-contrib-python
requests
beautifulsoup4
selenium
ffmpeg-python
django-environ
python-decouple
channels==3.0.5
channels-redis==3.4.1
redis==3.5.3
aiohttp==3.8.4
daphne==3.0.2
asgiref==3.6.0
celery==5.2.7
django-celery-results==2.5.0
social-auth-app-django==5.2.0
