Django==3.2.18
djangorestframework==3.11.2
django-cleanup
django-cors-headers
django-filter
opencv-python
opencv-contrib-python
requests
beautifulsoup4
selenium
ffmpeg-python
django-environ
python-decouple
channels
channels-redis
redis==3
aiohttp
daphne
asgiref
djangochannelsrestframework